User Registration - API/UI
User Authentication - API/UI
User credentials encryption - Hashing
Password Masking
Auto logout  - idle for some time ( time can be configured)
Authorization of each module against the user login
SSO - Single sign on
Integrate Customer
Integrate Product and Pricing
Integrate FD Simulator
Integrate FD Module
Integration of Reports module
Date Management for Time travel testing
Login credentials to be displayed on login page
